article p {
    font-size: 1.1em;
}

article p strong {
    color: hsla(200, 100%, 30%);
}

article ul {
    list-style: none;
}

article nav {
    text-align: center;
}

article nav a {
    font-size: 1em;
    display: inline-block;
    color: #eee;
    background-color: hsla(200, 100%, 30%);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    margin: 0px 6px;
}
